/*guide
	p의 경우
	font-size: 0.8em;
	line-height: 1.8em;
*/

/*import font*/

/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400);
/*@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);*/
@import url(https://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);
/*weight는 Bold(700), Regular(400), Light(300), UltraLight(200)*/
/*common*/

/*::selection { background:#fff; color:#FFC000; }
::-moz-selection { background:#fff; color:#FFC000; }*/
::selection { background:#fff; color:#0056FF; }
::-moz-selection { background:#fff; color:#0056FF; }

body{
	padding: 0;
	margin: 0; 
	font-family: 'AppleSDGothicNeo-Regular', 'Montserrat', 'Nanum Barun Gothic', 'Malgun-Gothic', sans-serif;
	/*font-family:'Nanum Barun Gothic', 'Malgun-Gothic', sans-serif;*/
	font-size:16px;
	line-height: 24px;
	/*word-break:keep-all;*/
	color: #000;
}
a, a:visited{color:#000;	text-decoration: none; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-out;
}
/*a:hover, a:active {color: #FFC000;}*/
a:hover, a:active {color: #0056FF;}


/*common - LAYOUT*/
.wrap{
	max-width: 1000px;
	overflow: hidden;
	margin:0 auto;
	padding: 30px;
}

/*===============HEADER===============*/
.header {
	min-width: 100%;
	position: fixed;
	margin: 0;
	padding: 0;
	z-index: 5;

}
.backwhite{
	background: #fff;
}
/*header - no scroll*/
.headerwrap{
	max-width: 1000px;
	overflow: hidden;
	padding: 30px;
	margin: 0 auto;
}
.header .logo{
	float: left;
	height: 30px;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
	font-weight: normal;
	font-size: 1em;
	cursor: pointer;
}

@media(min-width: 1px){
	.header .logo{
		width: 50px;
		background: url(../img/logo.png) no-repeat;
		background-size: 50px; 
		background-position: left 3px;
		text-indent:-9999px;
	}	
}


.header .menulink {
	display: inline-block;
	float: right;
	width: 20px;
	height: 20px;
	padding: 0;
	border: none;
	outline:0;
	text-indent:-9999px;
	cursor: pointer;
}
.header .icon-bar{
	position: relative;
	display: block;
	width: 100%;
	height: 2px;
	background: #000;
}
.header .off .icon-bar{
	margin-bottom: 4px;
}
.header .on .icon-bar:nth-of-type(1){
	transform: rotate(-45deg);
	top:1px;
	left: -3px;
	width: 26px;
}
.header .on .icon-bar:nth-of-type(2){
	display: none;
}
.header .on .icon-bar:nth-of-type(3){
	transform: rotate(45deg);
	top:-1px;
	left: -3px;
	width: 26px;
}
/*.header .nav {
	position: fixed;
	overflow: hidden;
	left:0;
	top: 90px;
	width: 100%;
	height: 200px;
	background: #fff;
	display: none;
}

.header .nav ul{
	margin-top: 40%; 
	padding:0;
}

.header .nav li{
	
	list-style: none;
	margin: 0;
	padding: 30px;
	text-align: center;
	font-size: 2em;
}
.header .nav .on a{
	color:#ffc71c;
}
.header .nav a{
	display: block;
}*/


.header .go_about{
	float: right;
}



.header .on{
	display: block;
}
.header:after{
	clear:both; display:block; content: "";
}




/*===============common - CONTENTS===============*/
h1.article_title{
	position: relative;
	font-family: 'AppleSDGothicNeo-Light', 'Montserrat', 'Nanum Barun Gothic', 'Malgun-Gothic', sans-serif;
	margin: 0 0 70px 0;
	padding: 0;
	font-size: 1.8em;
	font-weight: 200;
}
/*h1.article_title span{
	color:#ff9900;
}*/
h1.article_title:after{
	display: block;
	position: absolute;
	bottom: -20px;
	left: 0;
	width: 30px;
	height: 1px;
	
	background: #000;
	content: "";

}

p.article_txt{
	color:#888;
}
.contents{
	padding-top: 100px;
}
/*===============MAIN===============*/
.main {
	
	
}
.main .maintxt{
	/*position:absolute;
	bottom: 0;*/
	width: 100%;
	/*text-align: center;*/
}
.main .maintxt h1{
	position: relative;
	margin: 30px;
	padding-top: 50px; 
	font-family: 'AppleSDGothicNeo-thin', 'Montserrat', 'Nanum Barun Gothic', 'Malgun-Gothic', sans-serif;
	font-size: 2em;
	font-size: 2.5em;
	line-height: 1.4em;
	font-weight: 200;
	word-break: keep-all;
	letter-spacing: -1.5px;
	/*color: #fff;*/
	color:#0056FF;
}
.main .maintxt h1:before{
	display: block;
	position: absolute;
	top:30px;
	left: 0; 
	font-size: 70px;
    content: "\201C";
}
.main .maintxt .indivdot{
	padding: 30px;
}
.main .maintxt .indivdot:before{
	display: block;
	width: 60px;
	height: 1px;
	border-top: 1px solid #bbb;
	content: "";
}
.main .maintxt .indivdot p{
	font-size: 0.8em;
	line-height: 1.5em;
	color: #555;
}
.main .maintxt .indivdot strong{
	display: block;
	font-size: 1.2em;
}
.main .maintxt .indivdot .similar{
	display: block;
	font-size: 1em;
	font-style: italic;
	color: #aaa;
}





/*===============PORTFOLIO===============*/
.portfolio{
	padding-top: 50px;
	/*background: #e5e5e5;*/
}
/*filter*/
.portfolio .filter{
	margin: 30px 0;
	padding: 0;
}
.portfolio .filter li{
	list-style: none;
	float: left;
	margin: 0;
	margin-right:10px;
	padding: 0;
	font-size: 0.8em;
	cursor: pointer;
}
.portfolio .filter .on{color: #ff7800;}
.portfolio .filter .on:hover{text-decoration: underline;}
.portfolio .filter:after{
	clear: both; display: block; content: "";
}
/*item*/
.portfolio h2{display: none;}
.portfolio .item{
	position: relative;
	width: 100%;
	height:200px;
	/*overflow: hidden;*/
	margin-bottom: 30px;
	cursor:pointer;
}
.portfolio .item a{
	display: block;
}
/*overlay*/
.portfolio .item .overlay {
	/*display: none;*/
	position: absolute;
	overflow: hidden;
	z-index: 1;
	top:0;
	right:0;
	bottom: 0;
	left: 0;
	margin: 20px;
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
	/*background: yellow;*/
	/*background: #0046ff;*/
	/*background: rgba(0, 70, 255, 0.3);*/
	text-align: left;
	word-break:keep-all;
}
.portfolio .item .overlay .title{	
	margin: 20px 20px 10px 20px;
	padding: 0;
	font-family: 'AppleSDGothicNeo-Light', 'Montserrat', 'Nanum Barun Gothic', 'Malgun-Gothic', sans-serif;
	font-weight: 200;
	font-size: 1.2em;
	line-height: 1.3em;
	color: #000;
}
.portfolio .item .overlay .type{
	display: none;
	position: relative;
	margin: 0 20px 20px 20px;
	padding: 0 0 20px 0;
	font-size:0.8em;
	color: #888;
}
.portfolio .item .overlay .type.test:after{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 30px;
	height: 1px;
	background: #888;
	content: "";
}
.portfolio .item .overlay .txt{
	display: none;
	margin: 0 20px 0 20px;	
	padding: 0;
	font-size:0.8em;
	line-height: 1.4em;
	color: #333;

}
.portfolio .item .overlay .detail{
	position: absolute;
	bottom: 10px;
	right: 20px;
}
.portfolio .item .overlay .detail svg{
	width: 20px;
	height: 10px;
}

/*thumnail들*/
.portfolio .oxfamlove .thum{background: url(../img/portfolio/thum/thum_oxfam.jpg);}
.portfolio .artisee .thum{background: #eb6877 url(../img/portfolio/thum/thum_artisee.jpg);}
.portfolio .pgm .thum{background: url(../img/portfolio/thum/thum_pgm.jpg);}
.portfolio .isan .thum{background: url(../img/portfolio/thum/thum_isan.jpg);}
.portfolio .ezen .thum{background: url(../img/portfolio/thum/thum_ezen.jpg);}
.portfolio .4times .thum{background: url(../img/portfolio/thum/thum_4times.jpg);}
.portfolio .isesang .thum{background: url(../img/portfolio/thum/thum_isesang.jpg);}
.portfolio .newgen .thum{background: url(../img/portfolio/thum/thum_newgen.jpg);}
.portfolio .qbrix .thum{background: url(../img/portfolio/thum/thum_qbrix.jpg);}
.portfolio .dhl .thum{background: url(../img/portfolio/thum/thum_dhl.jpg);}
.portfolio .sony .thum{background: #093b6a url(../img/portfolio/thum/thum_sony.jpg);}

.portfolio .item .thum{
	height: 200px;
	background-position: top center;
	background-repeat: repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/*===============ABOUT===============*/
.about{}
.about h2{
	font-size: 1.2em;
}
.about .profile{
	margin-bottom: 100px;
}
.about .profileimg{
	position: absolute;
	top:-85px;
	left: 50%;
	width: 150px;
	height: 150px;
	margin-left: -85px;
	border: 10px solid #fff;
	border-radius:150px;
	overflow: hidden;
}
.about .profile .profiletxt{
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
	padding:0;
	font-family: 'AppleSDGothicNeo-Light', 'Montserrat', 'Nanum Barun Gothic', 'Malgun-Gothic', sans-serif;
	font-weight: 200;
	font-size: 1.1em;
	line-height: 1.5em;
	/*text-align: center;*/
}
/*.about .profile .profiletxt:before{
	display: block;
	position: absolute;
	top:80px;
	left: 50%;
	margin-left: -15px;
	font-size: 60px;
	content: "\201C";
}
.about .profile .profiletxt:after{
	display: block;
	position: absolute;
	bottom:30px;
	right: 50%;
	margin-right: -15px;
	font-size: 60px;
	content: "\201D";
}*/
/*have*/
.about .me, .about .exp{
	word-break: keep-all;
	/*padding-top: 50px;*/ 
}
.about .me h2, .about .exp h2{
	margin: 0 0 30px 0;
	font-family: 'AppleSDGothicNeo-Bold' ,'Montserrat', 'Nanum Barun Gothic', 'Malgun-Gothic', sans-serif;;
	font-weight: bold;
	font-size: 1em;
	color: #000;
}
.about .me h3, .about .exp h3{
	margin: 0 0 30px 0;
	font-family: 'AppleSDGothicNeo-Light', 'Montserrat', 'Nanum Barun Gothic', 'Malgun-Gothic', sans-serif;
	font-weight: 200;
	font-size: 1.4em;
	line-height: 1.5em;
	color: #000;
}
.about .me p{
	color: #666;
}
.about .me ul{
	margin: 0 0 100px 0;
	padding: 0;
	font-size: .8em;
}
.about .me ul li{
	position: relative;
	list-style: none;
	padding-left: 20px;
	margin-bottom: 10px;
}
.about .me li:before{
	position: absolute;
	left: 0;
	top:10px;
	width: 10px;
	height: 1px;
	background: #aaa;
	content: "";
}
/*exp*/
.about .exp{
	/*background: #f6f6f6;*/
}
.about .exp h3{
	margin: 0; 
}
/*experience*/
.about .row{
	margin: 0 0 100px 0;
}
/*.about .experience p{
	font-size:0.75em;
	color: #777;
}*/
.about .experience .title{
	position: relative;
}
/*.about .experience .title:after{
	position: absolute;
	bottom:-10px;
	left: 0;
	width: 30px;
	height: 1px;
	background: #555;
	content: "";	
}*/

.about .experience .job{
	margin-bottom: 5px;
	font-size: 0.9em;
	color: #555;
}

.about .experience .date{
	margin: 0 0 20px 0;
	font-style: italic;
	font-size: .8em;
	color: #666;
	
}


.about .experience .client{
	display: none;
}

.about .education dt{
	margin-top: 20px;
	font-size:1em;
	font-weight: bold;

}
.about .education dd{
	font-size:0.75em;
	color: #777;
}
.about .education dd.date{
	font-style: italic;
}


/*===============BLOG===============*/
.blog .post{
	margin:30px 0 ; 
	padding-bottom: 30px;
	border-bottom: 1px dashed #aaa;
}

.blog .post .figure img{
	width: 100%;
}
.blog .post h1{
	font-size: 1.2em;
	line-height: 1.2em;
	margin:0 0 10px 0;
	padding: 0;

}
.blog .post .date{
	margin:10px 0;
	padding: 0;
	font-size: 0.7em;
	color: #999;
}
.blog .post .tag{
	font-size: 0.7em;
	display: inline-block;
	margin: 0;
	padding: 0;
}
.blog .post .tag span{
	background: #eee;
	padding: 3px 8px;
}
.blog .post .maintext{
	padding: 0;
	margin: 0;
	font-size: 0.9em;
	line-height: 1.8em;
	color:#666;

overflow: hidden;
 text-overflow: ellipsis;
 display: -webkit-box;
 -webkit-line-clamp: 3; /* 라인수 */
 -webkit-box-orient: vertical;
 word-wrap:break-word; 
/* white-space:nowrap*/
}
.blog .post table{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	color: #888;
	margin-bottom: 10px;
}
.blog .post table td{
	padding: 5px 30px 5px 5px;

}
.blog .post dt{
	float: left;
	margin-right: 10px;
}
.blog .post .readmore{
	margin: 20px 0 0 0;
	display: inline-block;
}
.blog .post .readmore i{
	margin-right: 5px;
}

/*===============CONTACT===============*/
.contact{
	/*background: #f6f6f6;*/
}
.contact input, .contact textarea, .contact button{
	display: block;
	-webkit-appearance: none;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 15px;
	padding: 15px;
	border: 1px solid #ccc;
	outline-style:none;
	outline: 0;
	/*border-bottom: 2px solid #000;
	background: transparent;*/
}
.contact form label{
	display: block;
	margin-bottom: 5px;
}
.contact .submit{
	background: #e6e6e6;
	font-size: 1em;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border: none;
    font-family: 'Nanum Barun Gothic';
}
.contact .submit:hover{
	background: #0056ff;
	color: #fff;
}



/*===============FOOTER===============*/
.footer{

}
.footer .totop{
	display: inline-block;
	margin: 0 0 15px 0;
	padding: 0;
	/*border-bottom: 1px solid black;*/
	font-size: 0.8em;
}
.footer .sns{
	margin: 0 0 15px 0;
	padding: 0;
}
.footer .sns li{
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
	font: normal normal normal 14px/1 FontAwesome;
}
.footer .copyright{
	margin: 0;
	font-size: 0.7em;
	color: #8c3f00;
	color: #000;
}



/*==============portfolio - 상세 페이지==============*/
/*cover - background*/
.oxfam .cover{background: #26a443 url(../img/portfolio/oxfam_cover.jpg);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='../img/portfolio/oxfam_cover.jpg',
	sizingMethod='scale');

	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='../img/portfolio/oxfam_cover.jpg',
	sizingMethod='scale')";
	}
.artisee .cover{background: #eb6877 url(../img/portfolio/artisee_cover.jpg);}
.isesang .cover{background: #1b598d url(../img/portfolio/isesang_cover.jpg);}
.pgm .cover{background: #1b598d url(../img/portfolio/pgm_cover.jpg);}
.qbrix .cover{background: #1b598d url(../img/portfolio/qbrix_cover.jpg);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='../img/portfolio/qbrix_cover.jpg',
	sizingMethod='scale');

	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='../img/portfolio/qbirix_cover.jpg',
	sizingMethod='scale')";
}
.dhl .cover{background: #1b598d url(../img/portfolio/dhl_cover.jpg);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='../img/portfolio/dhl_cover.jpg',
	sizingMethod='scale');

	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='../img/portfolio/dhl_cover.jpg',
	sizingMethod='scale')";
}
.samsung .cover{background: #e24444 url(../img/portfolio/samsung_cover.jpg);}
.sony .cover{background: #093b6a url(../img/portfolio/sony_cover.jpg);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='../img/portfolio/sony_cover.jpg',
	sizingMethod='scale');

	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='../img/portfolio/sony_cover.jpg',
	sizingMethod='scale')";
}

.portfolio_contents .cover{
	position: relative;
	display: block;
	overflow: hidden;
	margin-bottom: 50px;
	background-position: center;
	background-repeat: repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.porfol_info {
	max-width: 350px;
	margin:90px auto;
	padding: 50px;
	background: #fff;
}
@media(min-width: 1px){
	.porfol_info {
		max-width: 350px;
		margin:90px 30px 30px 30px;
		padding: 30px;
		background: #fff;
	}
	
}
.porfol_info .type{
	position: relative;
	margin: 0;
	padding-bottom: 10px; 
	text-align: center;
	font-size: 0.8em;
	color: #555;
	
}
.porfol_info .type:after{
	position: absolute;
	width: 50px;
	height: 2px;
	bottom: 0;
	left: 50%;
	margin: 0 0 0 -25px;
	background: #ffc71c;
	content: "";
}
.porfol_info h1{
	margin: 20px 0 50px 0;
	text-align: center;
	line-height: 1.2em;
	color: #000;
	
}
.porfol_info p{
	margin:0;
	padding:0;
	word-break: break-word;
}
.porfol_info dl{
	margin: 10px 0 0 0;
	padding:0;  
	font-size: 0.8em;
	line-height: 1.5em;
	color: #999;
}
.porfol_info dt{
	font-weight: bold;
	float: left;
}
.porfol_info dd{

}
.porfol_info .launch{
	display: inline-block;
	margin:30px 0 0 0;
	color:#444;

}
.porfol_info .launch:hover{
	color: #ffc71c;
}

/*article*/
.porfol_article{
	margin-bottom:100px;
}
.porfol_article h2{
	position: relative;
	margin: 0 0 40px 0;
	font-family:'AppleSDGothicNeo-Light', 'Montserrat', 'Nanum Barun Gothic', 'Malgun-Gothic', sans-serif;
	font-weight: 200;
	font-size:1.8em;
	line-height: 1.3em;
	color:#000;
}
.porfol_article h2:after{
	position: absolute;
	left: 0;
	bottom: -20px;
	width: 30px;
	height: 1px;
	background: #ffc71c; 
	content: "";
}
.porfol_article p{
	margin-bottom: 30px;
	font-family:'AppleSDGothicNeo-Light', 'Montserrat', 'Nanum Barun Gothic', 'Malgun-Gothic', sans-serif;
	font-weight: 200;
	font-size: 1.1em;
	line-height: 1.6em;
	word-break: break-all;
}
.porfol_article img{
	display: inline-block;
	width:100%;
	margin: 0;
	padding: 0; 
	border:0;
}


.browser {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	margin-bottom:50px;
}
.browser:after, .browser:before {
	content: "";
	display: table
}
.browser:after {
	clear: both
}
.browser .header-browser {
	height: 10px;
	display: block;
	/*width: 100%;*/
	border-radius: 5px 5px 0 0;
	background-clip: padding-box;
	background-color: #dbdbdb;
	padding: 15px
}
.browser .header-browser .button-browser {
	float: left;
	width: 50px;
	height: 10px;
	position: relative
}
.browser .header-browser .button-browser span {
	position: absolute;
	display: block;
	width: 10px;
	height: 10px;
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-radius: 45px;
	background-clip: padding-box;
	background-color: #aeaeae
}
.browser .header-browser .button-browser span:after, .browser .header-browser .button-browser span:before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	width: 10px;
	height: 10px;
	border-radius: 45px;
	background-clip: padding-box;
	background-color: #aeaeae;
}
.browser .header-browser .button-browser span:before {
	left: -20px
}
.browser .header-browser .button-browser span:after {
	right: -20px
}
.browser .header-browser .bar-browser {
	position: relative;
	display: block;
	overflow: hidden;
	height: 20px;
	top: -5px;
	margin-left: 70px;
	background-color: #f1f1f1;
	border-radius: 3px;
	background-clip: padding-box
}
.browser .cont-browser {
}
.browser .cont-browser img {
	width: 100%;
	height: auto;
	display: block
}


/*btn*/
/*.btn{
	position: fixed;
	top:80%;
	right: 0;
	height: 50px;
	margin-right: -80px;
	-webkit-transform : rotate(-90deg) translateY(0.5em);
	-ms-transform : rotate(-90deg) translateY(0.5em);
	transform: rotate(-90deg) translateY(0.5em);
}
.btn a{
	display: inline;
	width: 100px;
	font-family: 'AppleSDGothicNeo-Light';
	text-align: center;
	color: #333;업

}
.btn a:hover{
	color:#000;
	text-decoration: line-through;
}*/
.btn{
	max-width: 1000px;
	margin: 0 auto;
	padding: 30px;
}
.btn .backproject{
	display: block;
	padding: 30px;
	/*background: #eee;*/
	/*border-top: 2px solid #0056FF;*/
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	text-align: center;
}
.btn .backproject a{
	display: block;
}
.btn .nextproject, .btn .prevproject{
	display: none;
}
/*.btn .backproject{
	position: fixed;
	top: 15px;
	left: 50%;
	margin-left: -50px;
}

.btn .prevproject{
	position: fixed;
	top:45%;
	left: -30px;
	-webkit-transform : rotate(-90deg) translateY(0.5em);
	-ms-transform : rotate(-90deg) translateY(0.5em);
	transform: rotate(-90deg) translateY(0.5em);
}

.btn .nextproject{
	position: fixed;
	top:45%;
	right: -30px;
	-webkit-transform : rotate(90deg) translateY(0.5em);
	-ms-transform : rotate(90deg) translateY(0.5em);
	transform: rotate(90deg) translateY(0.5em);
}*/

