/*@import url(https://fonts.googleapis.com/css?family=Dosis:800);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);



@import url("https://googledrive.com/host/0BxmAw3HA4YGCfkljOGVJb3RMR200clRfUTVVdXlaRElPRTV3VGlNZVZ3ay1EYjdiZjJockk/notokr-regular.css"); 
@import url("https://googledrive.com/host/0BxmAw3HA4YGCfndGUGZVNzBEbVdkZGg0M0R1OElFeXcteXFVNUFOYlQ4TUdNWHZVQlJHaXM/notokr-black.css"); 
@import url("https://googledrive.com/host/0BxmAw3HA4YGCfnV0d3J5S21BSFdGUXctekQ1eHJoczF2OUcyTGZna3laMlg2MWR6cWoyV1E/notokr-bold.css"); 
@import url("https://googledrive.com/host/0BxmAw3HA4YGCfnVVTFJoaHQ2R0xQNURCSmp0M1BrWVQ5SVFKN05uaTRabC1XeFRpUm51T2c/notokr-demilight.css"); 
@import url("https://googledrive.com/host/0BxmAw3HA4YGCfk5lRk1WVjhQWVRHRldCVEw0TU1qMHhvNEdfM1E0cjZ1Z2ZHRDFfcWRVSDA/notokr-light.css"); 
@import url("https://googledrive.com/host/0BxmAw3HA4YGCfmN1U19nTHpWVFd2NHA2dXJ4c0FvOEdVcF9mc3ZfcWNyZjRDZ2plMy12SzQ/notokr-medium.css"); 
@import url("https://googledrive.com/host/0BxmAw3HA4YGCflRiaUxHOFVCcXVfWmpqeERVZ3AzcDAtM2FRV25XclJDRnVrTVVqamZJcEE/notokr-thin.css");

@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
*/
.notokr-regular { font-family:notokr-regular !important; } 
.notokr-black { font-family:notokr-black !important; } 
.notokr-bold { font-family:notokr-bold !important; } 
.notokr-demilight { font-family:notokr-demilight !important; } 
.notokr-light { font-family:notokr-light !important; } 
.notokr-medium { font-family:notokr-medium !important; } 
.notokr-thin { font-family:notokr-thin !important; }


::selection { background:#ff8a00; color:#363324; }
::-moz-selection { background:#ff8a00; color:#363324; }
body{
	/*font-family: 'Dotum', 'Nanum Gothic', 'Noto Sans Korean', sans-serif;
	font-family:'notokr-regular';
	font-family: 'Malgun Gothic';*/
	font-family: 나눔고딕, "NanumGothic", "맑은 고딕", "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", Ngothic, sans-serif;
	font-size:16px;
	line-height: 20px;
	color: #444;
	padding: 0;
	margin: 0; 
	font-family: 'Nanum Barun Gothic', sans-serif;
}
a{
	color:#000;
	text-decoration: none;
}
a:hover, a:active {
	color: #ff7800;
	
}
.indiv .wrap{
	max-width: 1000px;
	overflow: hidden;
	margin:0 auto;
	padding: 50px;
}
.indiv .headerwrap{
	max-width: 1000px;
	overflow: hidden;
	margin: 0 auto;
	padding: 0 50px;
}
/*header - no scroll*/
.indiv .header {
	min-width: 100%;
	height:80px;
	position: fixed;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 5;
	text-align: center;
	overflow: hidden;
	background-color: transparent;
}

.indiv .backwhite{
	background: #fff;
}

.indiv .scroll .log{
	height: 30px;
	overflow: hidden;
}
.indiv .header .logo{
	font-size: 2em;
	margin: 25px 0 0 0;
	padding: 0;
	float: left;
	width: 187px;
	height: 50px;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../img/logo.png) no-repeat;
}
.indiv .header .menulink {
	background: url(../img/menu.png) no-repeat;
	background-size: 50px 50px;
	display: inline-block;
	text-indent:-9999px;
	width: 50px;
	height: 50px;
	float: right;
	margin: 15px 0 0 0;
	border: none;
	outline:0;
	cursor: pointer;
}
.indiv .header .nav {
	position: fixed;
	top:80px;
	width: 100%;
	background: #fff;
	border-top: 1px solid #ccc;
	display: none;
}

.indiv .header .nav ul{
	margin: 0; padding:0;
}

.indiv .header .nav li{
	list-style: none;
	margin: 0;
	padding: 15px 0;
	text-transform: uppercase;
	font-size: 1em;
	border-bottom: 1px solid #ccc;
	display: block;
}

.indiv .header .on{
	display: block;
}
.indiv .header:after{
	clear:both; display:block; content: "";
}
/*scroll header*/
.indiv .scroll {
	height:50px;
	background: rgba(255, 255, 255, 0.85);
	border-bottom:1px solid #ccc;
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

}
.indiv .scroll .logo{
	font-size: 1em;
	height: 30px;
	background-size: auto 20px;
	margin-top: 15px;
}
.indiv .scroll .menulink {
	background-size: 30px 30px;
	width: 30px;
	height: 30px;
}
.indiv .scroll .nav {
	top:50px;
}
/*scroll header*/

.indiv .article_title{
	font-size: 1.5em;
	margin: 0;
	padding: 0;
	border-top:3px solid #222;
	display: inline-block;
	color: #222;
	letter-spacing:0.2em;
}

.indiv .article_title:first-letter {  
        color:#ff7800;
    }  

.indiv h1 span{
	color:#ff7800;
}

.indiv .main {
	
	background: #ffc71c;
	background: url(../img/maintest4.jpg) no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.indiv .main .maintxt{
	
	
	position:absolute;
	bottom: 0;
	
	width: 100%;

	font-size: 1.5em;
	text-align: center;
	/*letter-spacing: 2em;*/
	line-height: 2em;
	

	color: rgba(0, 0, 0, 0.8);
	color: #e7e7e7;
	
}

.indiv .intro{
	position: relative;
	background: #fff;
	margin:0;
	padding: 0;
	text-align: center;
}

.indiv .intro h1{
	text-align: center;
	font-size: 1.5em;
}
.indiv .intro p{
	font-size: 0.9em;
}
.indiv .intro img{
	width:300px;
}
.indiv .intro strong{
	font-weight:700;
	display: block;
}

.indiv .about{
	background: #eee;

}

/*Portfolio*/
.indiv .portfolio{

}
.indiv .portfolio .filter{
	margin: 30px 0;
	padding: 0;
}
.indiv .portfolio .filter li{
	margin: 0;
	padding: 0;
	float: left;
	margin-right:15px;
	font-size: 0.8em; 
	list-style: none;
}
.indiv .portfolio .filter li a:link{
	color: #666;	
}
.indiv .portfolio .filter .on{
	color: #ff7800;
}
.indiv .portfolio .filter:after{
	clear: both; display: block; content: "";
}

.indiv .portfolio h2{
	display: none;
}
.indiv .portfolio .item{
	position: relative;
	width: 100%;
	height:330px;
	overflow: hidden;
	margin-bottom: 50px;
}

/*mobile - overlay*/
.mobile .indiv .portfolio .item .overlay {
	bottom: 0;
}
/*pc- overlay*/
.pc .indiv .portfolio .item .overlay {
	margin-top: 240px;
}

.pc .indiv .portfolio .item .overlay {
	position: absolute;
	left: 0;
	background: rgba(255, 255, 255, 1);
	z-index: 1;
	width: 100%;
	height: 100%;
	text-align: left;
	display: block;
}

.indiv .portfolio .item .overlay .title{
	font-size: 1em;
	margin: 20px 30px 10px 30px;
	padding: 0;
	color: #000;
	letter-spacing: 0.05em;
}
.indiv .portfolio .item .overlay .type{
	font-size:0.7em;
	margin: 0 30px 50px 30px;
	padding: 0 0 40px 0;
	color: #888;
	position: relative;
}
.indiv .portfolio .item .overlay .type:after{
	background: #888;
	width: 30px;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
	content: "";
}
.indiv .portfolio .item .overlay .txt{
	font-size:0.75em;
	margin: 0 30px 0 30px;
	padding: 0;
	color: #333;
}

/*thumnail들*/
.indiv .portfolio .oxfamlove .thum{
	background: url(../img/portfolio/thum/thum_oxfam.jpg);
}
.indiv .portfolio .artisee .thum{
	background: url(../img/portfolio/thum/thum_artisee.jpg);
}
.indiv .portfolio .pgm .thum{
	background: url(../img/portfolio/thum/thum_pgm.jpg);
}
.indiv .portfolio .isan .thum{
	background: url(../img/portfolio/thum/thum_isan.jpg);
}
.indiv .portfolio .ezen .thum{
	background: url(../img/portfolio/thum/thum_ezen.jpg);
}
.indiv .portfolio .4times .thum{
	background: url(../img/portfolio/thum/thum_4times.jpg);
}
.indiv .portfolio .isesang .thum{
	background: url(../img/portfolio/thum/thum_isesang.jpg);
}
.indiv .portfolio .newgen .thum{
	background: url(../img/portfolio/thum/thum_newgen.jpg);
}


.indiv .portfolio .qbrix .thum{
	background: url(../img/portfolio/thum/thum_qbrix.jpg);
}
.indiv .portfolio .qbrix2 .thum{
	background: url(../img/portfolio/qbrix_cover.png);
}

.indiv .portfolio .dhl .thum{
	background: url(../img/portfolio/dhl_cover.jpg);
}

.indiv .portfolio .item .thum{
	background-position: top center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 240px;
}

/*about*/
.indiv .about h2{
	font-size: 1.2em;
}

.indiv .about dt, .indiv .about dd, .indiv .about li, .indiv .about p{
	font-size: 0.9em;
	margin: 0;
	padding: 0;
}

.indiv .about .experience dt{
	margin-top: 20px;
	font-size:1em;
	font-weight: bold;

}
.indiv .about .experience dd{
	font-size:0.75em;
	color: #777;
}
.indiv .about .experience dd.date{
	font-style: italic;
}

.indiv .about .education dt{
	margin-top: 20px;
	font-size:1em;
	font-weight: bold;

}
.indiv .about .education dd{
	font-size:0.75em;
	color: #777;
}
.indiv .about .education dd.date{
	font-style: italic;
}

.indiv .about .skill {
}
.indiv .about .skill .col{
	position: relative;
	margin-bottom: 30px;
	padding-left:80px;
}
.indiv .about .skill i{
	position: absolute;
	top: 0;
	left: 0;
	font-size:3em;
}
.indiv .about .skill h3{
	font-size: 1em;
	margin: 0;
	padding: 0;
}
.indiv .about .skill p{
	font-size: 0.8em;
	margin: 0;
	padding: 0;
}
.indiv .about button{
	background: #ccc;
	outline:none;
	border: none;
	padding: 20px;
	color: #333;
	cursor: pointer;
	font-weight: bold;
	border-radius:5px;

}
.indiv .about button:hover{
	background: #ffc71c;
	color: #56523D;

}

/*blog*/
.indiv .blog .post{
	margin:30px 0 ; 
	padding-bottom: 30px;
	border-bottom: 1px dashed #aaa;
}
.indiv .blog .post:after{
	clear:both; display: block; content: "";
}
.indiv .blog .post .figure {
	float:left;
	margin-right: 30px;
}
.indiv .blog .post .figure img{
	width: 100%;
}
.indiv .blog .post h1{
	font-size: 1.4em;
	margin:0 0 10px 0;
	padding: 0;

}
.indiv .blog .post .date{
	font-size: 0.8em;
	margin:10px 0;
	padding: 0;
	color: #999;
}
.indiv .blog .post .tag{
	font-size: 0.7em;
	display: inline-block;
	margin: 0;
	padding: 0;
}
.indiv .blog .post .tag span{
	background: #eee;
	padding: 3px 8px;
}
.indiv .blog .post .maintext{
	padding: 0;
	margin: 0;
	font-size: 0.8em;
	line-height:1.8em;
	color:#666;
}
.indiv .blog .post table{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	font-size: 0.8em;
	color: #888;
	margin-bottom: 10px;
}
.indiv .blog .post table td{
	padding: 5px 30px 5px 5px;

}
.indiv .blog .post dt{
	float: left;
	margin-right: 10px;
}
.indiv .blog .post .readmore{
	margin: 20px 0 0 0;
	font-size: 0.8em;
	display: inline-block;
}
.indiv .blog .post .readmore i{
	margin-right: 5px;
}

/*contact*/
.indiv .contact{
	background: #dedac6;
}




.indiv .contact p{
	font-size: 0.9em;
}

.indiv .contact form{
}

.indiv .contact input, .indiv .contact textarea, .indiv .contact button{
	background: #c7c2a9;
	border: none;
	padding: 15px;
	width: 100%;
	color: #333;
	display: block;
	outline-style:none;
	 -webkit-box-sizing: border-box;
    	 -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin-bottom: 15px;

}
.indiv .contact form label{
	font-size: 0.8em;
	display: block;
	margin-bottom: 5px;

}


input[type=submit]{
	background: #56523D;
	color: #f39800;
	font-size: 1em;
	-webkit-border-radius:5px;
	-webkit-appearance: none;
}
.indiv .contact .submit:hover{
	background: #f39800;
	color: #56523D;
}


.indiv .footer{
	background: #ffc71c;
	text-align:center;
}

.indiv .footer .totop{
	font-size: 0.75em;
	display: inline-block;
	margin: 0 0 20px 0;
	padding-bottom: 0;
	border-bottom: 1px solid black;
}
.indiv .footer .sns{
	margin: 0 0 10px 0;
	padding: 0;
}
.indiv .footer .sns li{
	font: normal normal normal 14px/1 FontAwesome;
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}
.indiv .footer .copyright{
	margin: 0;
	font-size: 0.7em;
	color: #8c3f00;
}





@media (min-width: 1000px){
	
	.indiv .header{
		
	}
	.indiv .header .menulink{
		display: none;
	}
	.indiv .header .nav{
		display: block;
		position: relative;
		float: right;
		width: auto;
		top:0;
		margin:15px 0 0 0;
		border: none;
		background: transparent;
	}
	.indiv .header .nav li{
		float: left;
		margin-left:40px;
		border-bottom: none;
		font-size: 1.2em;
	}
	.indiv .header .nav li a{
		color: #fff;
	}
	.indiv .scroll .nav {
		margin: 0;
	}
	.indiv .scroll .nav li{
		font-size: 0.9em;

	}
	.indiv .scroll .nav li a{
		color: #000;
	}
	.indiv .portfolio .item{
		width: 300px;
		margin-bottom:50px;
		margin-right: 50px;
		float: left;
	}
	.indiv .portfolio .box{
		width: 1050px;
	}
	.indiv .portfolio .box:after{
		clear: both; display: block; content: "";
	}

	.indiv .about .skill .col{
		float: left;
		width: 30%;
		padding-left: 0;
	}
}


.hide{
	display: none;
}