
::selection { background:#003797; color:#fff; }
::-moz-selection { background:#003797; color:#fff; }

body{
	font-family: 'Nanum Gothic', 'Montserrat', 'Dotum', sans-serif;
	font-size: 20px;
	margin: 0;
	padding: 0;
}
@media (min-width: 1px){
	body{font-family: 'Montserrat', 'Nanum Gothic', 'Dotum', sans-serif;}	
}

.indiv header{
	padding: 0 50px;
	height: 50px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}
.indiv header:after{
	clear: both; display: block; content:"";
}
.indiv header h1{
	font-size: 1.5em;
	float: left;
	margin-top: 12px;
	padding: 0;
}

.menu {
	float: right;
	margin-top:15px;

}

.menu ul{
	margin: 0; padding:0;
}

.menu li{
	list-style: none;
	float: left;
	margin: 0 0 0 20px ;
	font-weight: 700;
	font-size: 1em;
	padding: 0;
}

.menu li:hover{
	border-bottom: 3px solid black;
}

.indiv .wrap{
	margin: 0;
	background: #F3F3E6;
	/*box-shadow: 0 3px 5px #645f42*/
}

.indiv .main {
	margin: 0;
	padding: 40px;
	font-size: 2em;
}

.indiv .main .txt{
	margin-left: 30%;
}
.indiv .main .title{
	font-size: 5em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin: 0;
	letter-spacing: -0.05em;
	line-height: 1em;

}
.indiv .main .title span{
	font-weight: 100;
	margin-left: -0.2em;
	font-family: 'Avenir-Light'
}

.indiv .main img{
	width: 100%;
}

.indiv .portfolio {
	margin: 0;
	padding: 40px;
	/*background: #F7F4E7;*/
}
.indiv .portfolio .filter{
	margin:0;
	padding: 0; 
}
.indiv .portfolio .filter li{
	list-style: none;
	margin: 0;
	padding: 0;
}
.indiv .portfolio .filter li a{
	text-decoration: none;
	color: #555;	
	font-size: 0.8em;
}
.indiv .portfolio .filter li a:hover{
	text-decoration: underline;
	color: #555;	
	font-size: 0.8em;
}
.indiv .portfolio .item{
	position: relative;
	margin: 0 0 0 0;
	max-height: 150px;
	overflow: hidden;
}
.indiv .portfolio .item img{
	width: 100%;
	display: block;
}
.indiv .portfolio .item .overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.9;
	display: none;
	overflow: hidden;
}
.indiv .portfolio .item .overlay p{
	display: block;
	position: absolute;
	left: 40px;
	top: 30%;

}
.indiv .portfolio .item .overlay .type{
	display: block;
	font-size: 1em;
	margin:0;
	color:#888;
	opacity:0;
}
.indiv .portfolio .item .overlay .title{
	display: block;
	font-size: 3em;
	margin-top:20px;
	color: #fff;
	opacity:0;
}
.indiv .portfolio .item .over{
	display: block;
}

.indiv .about{
	/*background: #FFB731;*/
	padding: 50px;
	color:#312816;
}

.indiv .contact{
	/*background: #232531;*/
	padding: 50px;
	color:#333;
}

.indiv .title{
	padding: 8px 0 0 0;
	margin: 0;
	text-align: center;
	position: relative;
	display: inline-block;
	font-size: 2em;
	color:#000;
}
.indiv .title:after{
	content: " "; 
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	width: 50px;
	height: 5px;
}
.indiv footer{
	text-align: right;
	padding: 0 50px;
	font-size: 0.7em;
}
@media (min-width: 600px){

	body{
		font-size: 14px;
	}
	
	.indiv .wrap{
		margin: 0 50px;
	}
	.indiv .main{
		margin: 0 50px;
	}

	.indiv .portfolio{
		margin: 0 50px;
	}
	.indiv .portfolio .filter ul{
		margin:0;
		padding: 0; 
	}
	.indiv .portfolio .filter li{
		list-style: none;
		margin: 0;
		padding: 0;
		display: inline-block;
	}
	.indiv .portfolio .item{
		max-height: none;
	}
	.indiv .portfolio .item img{
		height: 100%;
	}
	/*포트폴리오 콜라주*/
	.indiv .portfolio .pf01{
		width: 50%;
		height: 250px;
		float: left;
	}
	.indiv .portfolio .pf02{
		width: 50%;
		height: 500px;
		float: right;
	}
	.indiv .portfolio .pf03{
		width: 50%;
		height: 250px;
		float: left;
	}
	.indiv .portfolio .pf04{
		width: 50%;
		height: 250px;
		float: left;
	}
	.indiv .portfolio .pf05{
		width: 50%;
		height: 250px;
		float: right;
	}
	.indiv .portfolio .pf06{
		width: 100%;
		height: 250px;
		float: left;
	}
	/*포트폴리오 콜라주*/

	.indiv .portfolio:after{
		clear: both; display:block; content: "";
	}
	
	.indiv .contact{
		margin: 0 50px;
	}

	.indiv .about{
		margin: 0 50px;
	}
}
@media (min-width: 900px){

	.indiv .portfolio .col{
		width: 50%;
		float:left;
	}
	/*포트폴리오 콜라주*/
	.indiv .portfolio .pf01{
		width: 50%;
		height: 250px;
		float: left;
	}
	.indiv .portfolio .pf02{
		width: 50%;
		height: 500px;
		float: right;
	}
	.indiv .portfolio .pf03{
		width: 50%;
		height: 250px;
		float: left;
	}
	.indiv .portfolio .pf04{
		width: 50%;
		height: 250px;
		float: left;
	}
	.indiv .portfolio .pf05{
		width: 50%;
		height: 250px;
		float: right;
	}
	.indiv .portfolio .pf06{
		width: 100%;
		height: 250px;
		float: left;
	}
	/*포트폴리오 콜라주*/
}