.isesang .main{
	background: #1b598d url(../img/portfolio/isesang_cover.jpg);
}

.qbrix .main{
	background: #1b598d url(../img/portfolio/qbrix_cover.jpg);
}

.dhl .main{
	background: #1b598d url(../img/portfolio/dhl_cover.jpg);
}
.samsung .cover{
	background: #e24444 url(../img/portfolio/samsung_cover.jpg);
}
.portfolio_contents .main{
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
.portfolio_contents .cover{
	height: 400px;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
.info {
	position: absolute;
	bottom: 50px;
	right: 0;
	left: 50px;
	background: #fff;
	background: rgba(255,  255, 255, 0.8);
	padding: 50px;
	width: 300px;
}
.info .type{
	position: relative;
	font-size: 0.7em;
	color: #000;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
.info .type:after{
	position: absolute;
	width: 50px;
	height: 2px;
	bottom: 0;
	left: 50%;
	margin: 0 0 0 -25px;
	background: #ffc71c;
	content: "";
}
.info h1{
	font-size: 1.5em;
	line-height: 1.1em;
	margin-bottom: 100px;
	text-align: center;
	color: #000;
	
}
.info p{
	font-size: 0.8em;

}
.info dl{
	margin: 0;
	padding:0;  
	font-size: 0.7em;
	line-height: 1.5em;
}
.info dt{
	font-weight: bold;
	float: left;
}
.info dd{

}
.info .launch{
	display: inline-block;
	padding: 5px 10px;
	border: 2px solid #ffc71c;
	border-radius: 5px;

}
.info .launch a{
	font-size: 0.8em;
	color: #ffc71c;
}

.info .btn_godown{
	display: block;
	margin: 0 auto;
	cursor: pointer;
	width: 19px;
	height: 10px;
	background: url(img/portfolio/btn_godown.png) no-repeat;
	border: none;
	outline:none;
}
.total {
	/*background: #c9c9c9;
	padding: 50px;*/
}
.total img{
	width: 100%;
}

.sub{
	
}
.sub h1{
	float: left;
	width: 24%;
	font-size: 1.4em;

}
/*.sub h1:before{
	content: " "; 
	position: absolute;
	width: 1px;
	height: 100%;
	top: 0;
	right:-20px;
	background-color: #bbb;
}*/
.sub p{
	float: left;	
	width: 40%;
	font-size: 0.8em;
}
.sub dl{
	float: right;
	top: 0;
	font-size: 0.8em;
}
.sub dt{
	float: left;
}
.sub:after{
	display: block;
	clear: both; 
	content: "";
}

.article{
	margin: 50px 0;
	text-align: center;
}
.article h2{
	position: relative;
	padding: 0;
	margin: 0 0 40px 0;
	font-size: 1.2em; 

}
.article h2:after{
	position: absolute;
	left: 50%;
	bottom: -15px;
	width: 30px;
	height: 1px;
	background: #ffc71c; 
	content: "";
	margin: 0 0 0 -15px;
}
.article p{

	margin: 0; 
	font-size: 0.8em;
	margin-bottom: 50px;
}
.article:after{
	display: block;
	clear: both; 
	content: "";
}



.portfolio_contents .btn a{
	border: none;
	font-size: 0.7em;
	color: #333;
	width: 200px;
	height: 10px;
	font-family: 'Montserrat', 'Nanum Gothic',  sans-serif;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: center;
}
.portfolio_contents .btn .prevproject{
	position: fixed;
	top:45%;
	left: -90px;
	-webkit-transform : rotate(-90deg) translateY(0.5em);
	-ms-transform : rotate(-90deg) translateY(0.5em);
	transform: rotate(-90deg) translateY(0.5em);
}

.portfolio_contents .btn .nextproject{
	position: fixed;
	top:45%;
	right: -90px;
	-webkit-transform : rotate(90deg) translateY(0.5em);
	-ms-transform : rotate(90deg) translateY(0.5em);
	transform: rotate(90deg) translateY(0.5em);
}
.portfolio_contents .btn a:hover{
	color:#888;
	text-decoration: line-through;
}






.btn_back{

	
	display: inline-block;
	float: right;
	margin: 15px 0 0 0;
	width: 35px;
	height:35px;
	border: 2px solid #fff;
	border-radius: 50%;
	cursor: pointer;
}

.btn_back polygon{
	fill:#fff;
}

.btn_back:hover{
	background: #ffc71c;
	border: 2px solid #f39800;
}

.btn_back:hover polygon{
	fill: #f39800;
}