::selection { background:#000d86; color:#fff; }
::-moz-selection { background:#000d86; color:#fff; }

body{
	font-family: 'Nanum Gothic', 'Montserrat', 'Dotum', sans-serif;
	font-size: small;
	margin: 0;
	padding: 0;
	background: #eee;
}
@media (min-width: 1px){
	body{font-family: 'Montserrat', 'Nanum Gothic', 'Dotum', sans-serif;}	
}
/*dl, dt, dd, ul, li, ol, h1, h2, h3, h4, h5, h6, hr, p {
	list-style: none;
	margin: 0;
	padding: 0;
}*/
.portfolio{
}
.portfolio .mainimg{
	line-height: 0;
}
.portfolio .mainimg img{
	width: 100%;
}
.portfolio .info{
	/*background: #eaeaef;*/
	padding: 20px;
}
.portfolio .info h1{			
	margin: 0;
	padding: 0;
}
.portfolio .info h1 .en{
	font-size: 1.3em;
	line-height: 1em;
	letter-spacing: -1px;
}
.portfolio .info h1 .ko{
	font-size: 1.2em;
	font-weight: 900;
	line-height: 1.2em;
	letter-spacing: -1px;
}
.portfolio .info p{
	line-height: 2em;
	color:#777;
}
.portfolio .info .launch a{
	color: #000d86;
	text-decoration: none;
	font-weight: bold;
}
.portfolio .info dl{
	line-height: 2em;
	font-size: 0.9em;
	color:#777;
	margin: 0;
	padding: 0;
}

.portfolio .info dt{
	font-weight: 100;
	float: left;
}
.portfolio .info dd{
	margin-left: 40px;
}
.portfolio .imgfull{
}
.portfolio .imgfull img{
	width:100%;
}
.portfolio .imglist {
	margin-bottom: 10px;
}
.portfolio .imglist ul{
	padding: 0;
	margin:0;
}
.portfolio .imglist li{
	list-style: none;
	padding: 0;
	margin:0;
	line-height: 0;
}
.portfolio .imglist li img{
	width: 100%;
}
.portfolio .btn {
	margin-bottom: 20px; 
}
.portfolio .btn a{
	background: transparent;
	border: 1px solid #bbb;
	font-family: 'Montserrat', 'Nanum Gothic',  sans-serif;
	letter-spacing: 0.2em;
	color: #555;
	text-transform: uppercase;
	cursor: pointer;
	margin: 10px 20px 0 20px;
	display: block;
	text-align: center;
	padding: 10px 0;
	text-decoration: none;
}
@media (min-width: 600px){
	.portfolio{
		
	}
	.portfolio .mainimg{
		margin: 50px 50px 0 50px;
	}
	.portfolio .info{
		
		margin: 0 50px;
		padding: 40px;
	}
	.info .row{
		position: relative;
		margin: 20px 0 0 0;
	}
	.info .row .col1{
		margin-right:180px;
	}
	.info .row .col1 p{
		margin:0;
	}
	.info .row .col2{
		position: absolute;
		top: 0;
		right:0;
	}
	.info .row .col2 dl{
		margin: 0;
	}
	.portfolio .imglist{
		margin: 0 50px;
	}
	.portfolio .btn a{
		border: none;
		font-size: 0.8em;
		color: #333;
		width: 200px;
		height: 30px;
		font-family: 'Montserrat', 'Nanum Gothic',  sans-serif;
		letter-spacing: 0.2em;
		text-transform: uppercase;
	}
	.portfolio .btn .prevproject{
		position: fixed;
		top:45%;
		left: -95px;
		-webkit-transform : rotate(-90deg) translateY(0.5em);
		-ms-transform : rotate(-90deg) translateY(0.5em);
		transform: rotate(-90deg) translateY(0.5em);
	}

	.portfolio .btn .nextproject{
		position: fixed;
		top:45%;
		right: -95px;
		-webkit-transform : rotate(90deg) translateY(0.5em);
		-ms-transform : rotate(90deg) translateY(0.5em);
		transform: rotate(90deg) translateY(0.5em);
	}
	.portfolio .btn a:hover{
		color:#888;
		text-decoration: line-through;
	}
}
@media (min-width: 600px) and (max-width: 999px){}
@media (min-width: 1000px){
	
	.info:after{
		clear: both; display: block; content: "";
	}

	.info h1{
		position: relative;
		float: left;
		width: 24%;
		word-wrap:break-word;
		
	}
	.info .row{
		
		margin: 0;
		margin-left:30%;
	}
	.info h1:before{
		content: " "; 
		position: absolute;
		width: 1px;
		height: 100%;
		top: 0;
		right:-20px;
		background-color: #bbb;
	}
}
@media (min-width: 1200px){
	.portfolio .mainimg{
		width: 1100px;
		margin: 0 auto;
		margin-top:50px;
	}
	.portfolio .info{
		width: 1020px;
		margin: 0 auto;
	}
	.portfolio .imglist{
		width: 1100px;
		margin: 0 auto;
	}
}