/*@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);*/

.oxfam .cover{
	background: #26a443 url(../img/portfolio/oxfam_cover.jpg);
}



.isesang .main{
	background: #1b598d url(../img/portfolio/isesang_cover.jpg);
}

.qbrix .cover{
	background: #1b598d url(../img/portfolio/qbrix_cover.jpg);
}

.dhl .cover{
	background: #1b598d url(../img/portfolio/dhl_cover.jpg);
}
.samsung .cover{
	background: #e24444 url(../img/portfolio/samsung_cover.jpg);
}
.portfolio_contents .main{
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
.portfolio_contents .cover{
	position: relative;
	display: block;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
.info {
	
	/*border:10px solid #333;*/
	padding: 50px;
	max-width: 350px;
	margin-top: 80px;
	margin-left:50px;
	margin-right:50px;
	background: #fff;
	/*background: rgba(255,  255, 255, 0.5);*/
	font-family: 'Nanum Barun Gothic', sans-serif;
}
.info .type{
	position: relative;
	font-size: 0.7em;
	color: #000;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
.info .type:after{
	position: absolute;
	width: 50px;
	height: 2px;
	bottom: 0;
	left: 50%;
	margin: 0 0 0 -25px;
	background: #ffc71c;
	content: "";
}
.info h1{
	font-size: 1.5em;
	line-height: 1.5em;
	margin-bottom: 60px;
	text-align: center;
	color: #000;
	
}
.info p{
	font-size: 0.8em;

}
.info dl{
	margin: 0;
	padding:0;  
	font-size: 0.7em;
	line-height: 1.5em;
}
.info dt{
	font-weight: bold;
	float: left;
}
.info dd{

}
.info .launch{
	margin:30px 0 0 0;

}
.info .launch a{
	font-size: 0.7em;
	color: #888;
	font-weight: bold;
}

.info .launch a:hover{
	color: #ffac1c;
	text-decoration: underline;
}

.info2 {
	padding: 50px;
	width: 300px;
	margin-top: 80px;
	background: #fff;
	background: rgba(255,  255, 255, 0.8);
	font-family: 'Nanum Barun Gothic', sans-serif;
}
.info2 .type{
	position: relative;
	font-size: 0.7em;
	color: #000;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
.info2 .type:after{
	position: absolute;
	width: 50px;
	height: 2px;
	bottom: 0;
	left: 50%;
	margin: 0 0 0 -25px;
	background: #ffc71c;
	content: "";
}
.info2 h1{
	font-size: 1.5em;
	line-height: 1.1em;
	margin-bottom: 100px;
	text-align: center;
	color: #000;
	
}
.info2 p{
	font-size: 0.8em;

}
.info2 dl{
	margin: 0;
	padding:0;  
	font-size: 0.7em;
	line-height: 1.5em;
}
.info2 dt{
	font-weight: bold;
	float: left;
}
.info2 dd{

}
.info2 .launch{
	margin:30px 0 0 0;

}
.info2 .launch a{
	font-size: 0.7em;
	color: #888;
	font-weight: bold;
}

.info2 .launch a:hover{
	color: #ffac1c;
	text-decoration: underline;
}

















.total {
	/*background: #c9c9c9;
	padding: 50px;*/
}
.total img{
	width: 100%;
}

/*.sub{
	
}
.sub h1{
	float: left;
	width: 24%;
	font-size: 1.4em;

}*/
/*.sub h1:before{
	content: " "; 
	position: absolute;
	width: 1px;
	height: 100%;
	top: 0;
	right:-20px;
	background-color: #bbb;
}*/
/*.sub p{
	float: left;	
	width: 40%;
	font-size: 0.8em;
}
.sub dl{
	float: right;
	top: 0;
	font-size: 0.8em;
}
.sub dt{
	float: left;
}
.sub:after{
	display: block;
	clear: both; 
	content: "";
}*/

.article{
	margin: 50px 0;
	text-align: center;
}
.article h2{
	position: relative;
	padding: 0;
	margin: 0 0 40px 0;
	font-size: 1.2em; 

}
.article h2:after{
	position: absolute;
	left: 50%;
	bottom: -15px;
	width: 30px;
	height: 1px;
	background: #ffc71c; 
	content: "";
	margin: 0 0 0 -15px;
}
.article p{

	margin: 0; 
	font-size: 0.8em;
	margin-bottom: 50px;
}

.article img{
	width: 100%;
}
.article:after{
	display: block;
	clear: both; 
	content: "";
}



.portfolio_contents .btn a{
	border: none;
	font-size: 0.7em;
	color: #333;
	width: 200px;
	height: 10px;
	font-family: 'Montserrat', 'Nanum Gothic',  sans-serif;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: center;
}

.portfolio_contents .btn .backproject{
	position: fixed;
	top:0;
	left: 50%;
}

.portfolio_contents .btn .prevproject{
	position: fixed;
	top:45%;
	left: -90px;
	-webkit-transform : rotate(-90deg) translateY(0.5em);
	-ms-transform : rotate(-90deg) translateY(0.5em);
	transform: rotate(-90deg) translateY(0.5em);
}

.portfolio_contents .btn .nextproject{
	position: fixed;
	top:45%;
	right: -90px;
	-webkit-transform : rotate(90deg) translateY(0.5em);
	-ms-transform : rotate(90deg) translateY(0.5em);
	transform: rotate(90deg) translateY(0.5em);
}
.portfolio_contents .btn a:hover{
	color:#888;
	text-decoration: line-through;
}







.back{
	position: absolute;
	z-index: 1;
	top:50px;
	left: 50%;
	width: 1000px;
	margin-left: -500px;
	text-align: right;
}

.back2{
	position: absolute;
	z-index: 1;
	top:50px;
	padding: 0 50px;
	max-width: 1000px;
	text-align: left;
}

.btn_back{
	display: inline-block;
	width: 25px;
	height:25px;
	border-radius: 50%;
	cursor: pointer;
}



/*밝은 배경용*/
.btn_back.dark{
	border: 3px solid #333;
}
.btn_back.dark polygon{
	fill:#333;
}
.btn_back.dark:hover{
	background: #333;
	border: 3px solid #333;
}
.btn_back.dark:hover polygon{
	fill: #fff;
}
/*어두운 배경용*/
.btn_back.light{
	border: 3px solid #fff;
}
.btn_back.light polygon{
	fill:#fff;
}
.btn_back.light:hover{
	background: #333;
	border: 3px solid #333;
}
.btn_back.light:hover polygon{
	fill: #fff;
}





@media (min-width: 1000px){
	.info {
		
		margin: 0 auto;
		margin-top:80px;
	}
}